# Dont include the libs folder.
lib

# Dont include the obj folder.
project/obj

# Dont include the export.
test/android-project
test/bin

# Dont include the downloaded xml registries.
tools/generators/openal/al.xml
tools/generators/opengl/gl.xml
